.landing__outer {
  width: 3000px;
}

.landing__rightCloud {
  height: 160px;
  position: relative;
  z-index: 2;
}

.landing__rightCloud__img {
  height: 50px;
  position: absolute;
  bottom: -50px;
  right: -150px;
  animation: float 6s ease-in-out infinite;
  z-index: 2;
}

.landing__leftCloud {
  position: relative;
  z-index: 2;
}

.landing__leftCloud__img {
  height: 50px;
  position: absolute;
  top: -10px;
  left: -150px;
  animation: float 3s ease-in-out infinite;
  z-index: 2;
}

.landing__titleBox {
  text-align: center;
  margin: 60px auto;
  width: 90vw;
  z-index: 1000;
  padding: 10px;
}

.landing__titleBox__header {
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  color: #000;
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 3px;
  z-index: 1;
  animation: float 4s ease-in-out infinite;
}

.landing__titleBox__subHeader {
  font-family: "Lato", serif;
  color: #000;
  font-size: 30px;
  margin-top: 10px;
  z-index: 1;
  animation: float 4s ease-in-out infinite;
}
